<ion-view view-title="ReHash"
          ng-controller="ChatController as chatCtrl"
          class="light-grey">
  <ion-header-bar>
    <img class="heading_logo"
         src="img/rehash_icon.svg" >
    <span class="heading-right">
      {{nickname}}'s Score: <span class="hash">{{gameState.score}}</span>
    </span>
  </ion-header-bar>

  <ion-content>

    <!-- GAME PARTIAL -->
    <md-content layout="column"
                layout-align="center center"
                ng-show="gameState.tweet">

      <!-- TWEET PARTIAL -->
      <div class="tweet"
         layout="column"
         layout-align="center center">
        <img class="tweet-img"
             ng-src="{{gameState.tweet.image}}" />
        <div>@{{gameState.tweet.screen_name}} <br> {{gameState.tweet.content}}</div>
      </div>

      <!-- JUDGE PARTIAL -->
      <div ng-show="gameState.isJudge">
        <h3 class="voting-status-thing"
            ng-show="!gameState.voteEnabled">Judge: Waiting for Votes</h3>

        <div ng-show="gameState.voteEnabled">
          <h3 class="voting-status-thing">You Are Judging:</h3>
          <md-list>
            <md-item ng-repeat="hashtag in gameState.hashTags track by $index"
                     layout="column">
              <md-button class="md-accent"
                         data="{{gameState.hashtag}}"
                         ng-click="gameState.voteForHashtag(hashtag)">
                <h3 class="hashtag"><span class="hash">#</span>{{hashtag.hashtag.content}}</h3>
              </md-button>
            </md-item>
          </md-list>
        </div>
      </div>


      <!-- PLAYER PARTIAL -->
      <md-list ng-show="gameState.hasntVoted && !gameState.isJudge">
        <h3 class="voting-status-thing"><span class="hash">Re</span>Hash It:</h3>
        <md-item ng-repeat="hashtag in gameState.hashTags track by $index"
                 layout="column">
          <md-button class="md-accent"
                     data="{{gameState.hashtag}}"
                     ng-click="gameState.submitHashtag(hashtag)">
            <h3 class="hashtag"><span class="hash">#</span>{{hashtag.content}}</h3>
          </md-button>
        </md-item>
      </md-list>
    </md-content>

    <!-- LOBBY PARTIAL -->
    <div class="list light-grey bottommsg" ng-show="!gameState.gameStarted">
      <md-list ng-show="!gameState.gameStarted">
        <h3 class="voting-status-thing">Users in Lobby</h3>
        <md-item ng-repeat="user in gameState.users track by $index"
                 layout="column">
            <md-item-content>
              <div class="md-tile-content user-list-name">
                <h3 class="user">{{user}}</h3>
              </div>
            </md-item-content>
        </md-item>
      </md-list>

      <div layout="column"
           layout-align="center center"
           class="item item-input-inset light-grey start-game-thingy">
        <md-button ng-click="gameState.startGame()"
                   class="md-raised md-accent"
                   type="submit">Start Game</md-button>
      </div>
    </div>
    </ion-content>
 </ion-view>
