
<div ng-controller="LoginController">
<ion-view>
  <ion-content>
    <div layout="column"
         layout-align="center center">

      <img class="login-logo" src="assets/images/rehash_icon.png" alt=""/>

      <form name="nameForm"
            novalidate>

        <md-input-container flex>
          <label>Name</label>
          <input id="first_name"
                 type="text"
                 placeholder="Name"
                 ng-model="user.nickname">
        </md-input-container>

        <div layout="column">
          <md-button ng-click="login()"
                     class="md-raised md-accent"
                     type="submit">Play</md-button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
</div>
