<ion-view title="ReHash">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header game-home-content">
    <button class="game-chat-toggle button button-outline button-positive" menu-toggle="right">
      <i class="icon ion-chatbubbles"></i>
    </button>
    <div ng-show="!gameState.gameStarted">
      <ul class="list" ng-show="!gameState.gameStarted">
        <li ng-repeat="user in gameState.users track by $index"
            class="item">
          <h3 class="user">{{user.username}}</h3>
        </li>
      </ul>
    </div>

    <!-- GAME PARTIAL -->
    <div class="card" ng-show="gameState.gameStarted">
      <div class="item item-avatar">
        <img ng-src="{{gameState.tweet.user.profile_image_url}}"
             class="tweet-img" />
        <h2>{{gameState.tweet.user.name}}</h2>
        <p>@{{gameState.tweet.user.screen_name}}</p>
      </div>
      <div class="item item-body">
        <h2>{{gameState.tweet.text}}</h2>
        <p>
          <a href="#" class="subdued">{{gameState.tweet.retweet_count}} retweets</a>
          <a href="#" class="subdued">{{gameState.tweet.user.followers_count}} followers</a>
        </p>
      </div>
    </div>

    <div class="list card" ng-show="gameState.gameStarted && gameState.hasntVoted && !gameState.isJudge">
      <a href="#" class="item"
         ng-click="gameState.submitHashtag(hashtag)"
         ng-repeat="hashtag in gameState.hashTags track by $index">
        #{{hashtag.hashtag}}
      </a>
    </div>

    <div ng-show="gameState.gameStarted && gameState.isJudge">
      <div class="list card">
        <div class="item item-divider">
          Waiting for Votes
        </div>
        <a href="#" class="item"
           ng-click="gameState.voteForHashtag(user.submittedHashtag)"
           ng-repeat="user in gameState.submitUsers track by $index"
           ng-if="user.submittedHashtag.hashtag">
          #{{user.submittedHashtag.hashtag}}
        </a>
      </div>
    </div>

    <button class="button button-stable button-full"
            ng-click="gameState.startGame()"
            ng-show="!gameState.gameStarted">
      Start Game
    </button>
  </ion-content>
</ion-view>
